@import "bootstrap/bootstrap.less";

body {
  #header {
    h1 {
      text-align: center;
    }

    #toc {
      .container;
      margin: 0 auto;
      background-color: #FFAA66;
      text-align: center;
      padding: 10px;
    }

    #info {
      .container;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      background-color: #FFF8EE;
      padding: 10px;
      #last_update {
        display: inline;
        margin: 10px;
        text-align: right;
      }
      #more {
        display: inline;
        margin: 10px;
        text-align: left;
      }
    }

  }
  #restaurants {
    .restaurant { 
      div {
        margin: 10px;
      }
      .container;
  
      .title {
        font-weight: bold;
        background-color: #FFAA66;
        padding: 5px;
      }
  
      .body {
        border: 1px solid #FA6;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFF8EE;
        line-height: 140%;
      }
    }
  }

  #copyright {
    .container;
  }
}

div.restaurant div.title {
  a {
  color: #000000;
  }
  a:hover, a:focus {
    color: #000000;
    text-decoration: none;
  }
}
