<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="lunchtime.css" type="text/css" rel="stylesheet">
    <title><TMPL_VAR NAME=TITLE></title>
  </head>
  <body>
    <div id=header>
      <h1><TMPL_VAR NAME=TITLE></h1>
      <div id="toc">
<TMPL_LOOP NAME=TOC>
      :: <a href="#<TMPL_VAR NAME=HREF>">
      <TMPL_VAR NAME=NAME>
      </a>
</TMPL_LOOP>
      ::
      </div>
      <div id="info">
        <p id="last_update">Letzte Aktualisierung: <TMPL_VAR NAME=LAST_UPDATE></p>
      </div>
    </div>
    <div id="restaurants">
<TMPL_LOOP NAME=RESTAURANTS>
      <div class="restaurant">
        <div class="title">
          <a id="<TMPL_VAR NAME=ANCHOR>">
          <TMPL_VAR NAME=NAME>
          </a>
        </div>
        <div class="body">
          <div class="description">
<TMPL_LOOP NAME=DESCRIPTION>
            <TMPL_VAR NAME=ITEM><br>
</TMPL_LOOP>
          </div>
          <div class="comment">
<TMPL_LOOP NAME=COMMENT>
            <TMPL_VAR NAME=ITEM><br>
</TMPL_LOOP>
          </div>
          <div class="menu">
<TMPL_LOOP NAME=MENU>
            <TMPL_VAR NAME=ITEM><br>
</TMPL_LOOP>
          </div>
          <div class="url">
            <TMPL_IF NAME=URL>
            <a href="<TMPL_VAR NAME=URL>">
              <TMPL_VAR NAME=URL_NAME>
            </a>
            <TMPL_ELSE>
            <TMPL_VAR NAME=URL_NAME>
            </TMPL_IF>
          </div>
        </div>
      </div> 
</TMPL_LOOP>
    </div>
    <div id="copyright">
      <p>
        Alle Angaben ohne Gewähr.
      </p>
      <p>
        <a href="https://github.com/sebokopter/lunchtime">https://github.com/sebokopter/lunchtime</a><br>
        Copyright 2015 Sebastian Heil | MIT License
      </p>
    </div>
    <p></p>
  </body>
</html>
